USE [IspanPersonalProject_POS]
GO
/****** Object:  Table [dbo].[products]    Script Date: 2023/6/23 上午 02:32:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[p_id] [int] IDENTITY(1,1) NOT NULL,
	[p_name] [nvarchar](100) NULL,
	[price] [int] NULL,
	[p_desc] [nvarchar](1000) NULL,
	[p_image] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[p_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([p_id], [p_name], [price], [p_desc], [p_image]) VALUES (1, N'美式', 60, N'使用中深焙咖啡豆，後味帶有焦糖餅乾的甜感。', N'美式.jpeg')
INSERT [dbo].[products] ([p_id], [p_name], [price], [p_desc], [p_image]) VALUES (2, N'拿鐵', 85, N'使用中深焙咖啡豆加上台灣嚴選在地小農鮮乳，後味帶有焦糖餅乾的甜感。', N'拿鐵.jpeg')
INSERT [dbo].[products] ([p_id], [p_name], [price], [p_desc], [p_image]) VALUES (3, N'咖啡冰磚拿鐵', 120, N'將咖啡濃縮製成冰磚，咖啡磚融化後慢慢與鮮乳融合，喝到最後一口都是濃濃咖啡香。', N'咖啡冰磚拿鐵.jpeg')
SET IDENTITY_INSERT [dbo].[products] OFF
GO
