USE [IspanPersonalProject_POS]
GO
/****** Object:  Table [dbo].[persons]    Script Date: 2023/6/23 上午 02:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[姓名] [nvarchar](50) NULL,
	[電話] [nvarchar](50) NULL,
	[地址] [nvarchar](100) NULL,
	[email] [nvarchar](50) NULL,
	[生日] [date] NULL,
	[點數] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[persons] ON 

INSERT [dbo].[persons] ([id], [姓名], [電話], [地址], [email], [生日], [點數]) VALUES (1, N'陳大喵', N'0912-345-678', N'高雄市前金區', N'mm@hh.com.tw', CAST(N'1985-05-09' AS Date), 10000)
INSERT [dbo].[persons] ([id], [姓名], [電話], [地址], [email], [生日], [點數]) VALUES (2, N'黃小貓', N'07-333-6789', N'高雄市三民區', N'pp@nn.com.tw', CAST(N'1988-06-03' AS Date), 500)
INSERT [dbo].[persons] ([id], [姓名], [電話], [地址], [email], [生日], [點數]) VALUES (3, N'張大書', N'0977-555-999', N'高雄市鼓山區', N'zz@dd.com.tw', CAST(N'1978-11-09' AS Date), 2000)
SET IDENTITY_INSERT [dbo].[persons] OFF
GO
